<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GENERATE 2019 TEST</title>
</head>
<body>
    <div class="container
    
    ,">
    <h1 id="title">GENERATE 2019</h1>
        <div id="logo">
            <img src="assets/generate-logo.svg" alt="">
        </div>

        <div id="forms">
            <img src="assets/g19-forms.svg" alt="">
        </div>
    </div>
</body>
</html>